* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: arial;
}
.row {
  height: 100%;
  border: 1px solid silver;
}
.left-column {
  height: 100%;
  width: 200px;
  position: fixed;
  left: -150px;
  transition: all 0.2s;
}
.left-column header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.left-column h2 {
  margin: 0;
  color: white;
}
.left-column img {
  cursor: pointer;
  padding: 3px;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.5);
}
.left-column .features {
  opacity: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
.left-column .features li {
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}
.left-column .features li:hover {
  background-color: #eaeaea;
}
.right-column {
  position: relative;
  left: 49px;
  transition: left 0.2s;
  padding: 20px 50px;
}
.row.open .left-column {
  left: 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  background-color: #f3f3f3;
}
.row.open .left-column header {
  background-color: #71986a;
}
.row.open .left-column img {
  background-color: transparent;
}
.row.open .left-column img:hover {
  background-color: rgba(255,255,255,0.15);
}
.row.open .left-column .features {
  opacity: 1;
}
.row.open .right-column {
  left: 200px;
}
